<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mj.childrensapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation"
        android:icon="@drawable/gamezookeep"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tuturial"
            android:label="@string/title_activity_tuturial"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Tuturial2"
            android:label="@string/title_activity_tuturial2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".MyZoo"
            android:label="@string/title_activity_my_zoo"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Tuturial3"
            android:label="@string/title_activity_tuturial3"
            android:parentActivityName=".Tuturial2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mj.childrensapp.Tuturial2" />
        </activity>
        <activity
            android:name=".Tuturial4"
            android:label="@string/title_activity_tuturial4"
            android:parentActivityName=".Tuturial3"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mj.childrensapp.Tuturial3" />
        </activity>
        <activity
            android:name=".Tuturial5"
            android:label="@string/title_activity_tuturial5"
            android:parentActivityName=".Tuturial4"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mj.childrensapp.Tuturial4" />
        </activity>
        <activity
            android:name=".Tuturial6"
            android:label="@string/title_activity_tuturial6"
            android:parentActivityName=".Tuturial5"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mj.childrensapp.Tuturial5" />
        </activity>
        <activity
            android:name=".Tuturial7"
            android:label="@string/title_activity_tuturial7"
            android:parentActivityName=".Tuturial6"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mj.childrensapp.Tuturial6" />
        </activity>
        <activity
            android:name=".Tuturial8"
            android:label="@string/title_activity_tuturial8"
            android:parentActivityName=".Tuturial7"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mj.childrensapp.Tuturial7" />
        </activity>
    </application>

</manifest>